# Ignore node_modules (will be reinstalled in the container)
node_modules

# Ignore Docker build cache files
.dockerignore
Dockerfile
.docker-compose.yml

# Ignore log files
*.log

# Ignore local development files and directories
.env
*.env
*.swp

# Ignore coverage and test files
coverage/
test/
tests/

# Ignore temporary files and system files
Thumbs.db
Desktop.ini
*.bak
*.tmp
